@using System.Net
@model Otium.Domain.Response.BaseResponse<List<Otium.Domain.Models.News>>

@{
    ViewData["Title"] = "Новости";
    Layout = "_AdminLayout";
    var newId = Model.Data?.Count + 1 ?? 1;
}

<h1 class="display-4 text-dark text-center">Список новостей:</h1>

<div class="text-end">
    <a href="/Admin/News/Update/@newId" class="btn btn-primary justify-content-end">Добавить новость</a>
</div>

@if (Model.StatusCode == HttpStatusCode.NotFound)
{
    <h4 class="text-center py-4">Новостей нет.</h4>
}
else if (Model.StatusCode != HttpStatusCode.OK)
{
    <h4 class="text-center">Error: @Model.Message</h4>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Дата публикации</th>
                <th scope="col">Заголовок</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var news in Model.Data!)
            {
                <tr>
                    <td>@news.CreationDate.ToString("MM'/'dd'/'yyyy")</td>
                    <td>@news.Title</td>
                    <td class="text-end">
                        <a href="/Admin/News/Update/@news.Id" class="btn">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <form method="post" asp-action="RemoveNews" asp-controller="Admin" class="d-inline">
                            <button class="btn"><i class="fa-solid fa-trash"></i></button>
                            <input name="id" type="hidden" value="@news.Id">
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}