<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcat icon" href="~/img/favicon.ico" type = "image/x-icon">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fontello.css">
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <title>@ViewData["Title"] - Otium</title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="https://kit.fontawesome.com/a7a292009d.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="News">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="Categories">Категории</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex p-1 justify-content-end">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form method="post" asp-controller="Admin" asp-action="Logout">
                        <button class="btn btn-primary">Выход</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    @RenderBody()
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - Otium
    </div>
</footer>

<script src="~/js/admin.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>