@{
    ViewData["Title"] = "Для юридических лиц";
}

<div id="About" class="container-fluid py-4">
    <div class="row align-items-center">
        <div class="col-12">
            <h1 class="display-4 text-dark text-center mb-md-4">Информация для юридических лиц</h1>
        </div>
        <div class="col-2"></div>
        <div class="col">
            <p class="h6 text-muted text-center py-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem et id, nam repellat voluptates voluptatum. Aliquam amet dolorem, eius error et fugiat, hic id inventore laborum libero, maiores nesciunt obcaecati quae quia quidem ratione temporibus totam ut velit vitae. Ad adipisci, deleniti dolorem facilis ipsam omnis pariatur, possimus repellat reprehenderit sed, veritatis voluptatum. Adipisci delectus deserunt dolorum et nisi officia repellat repudiandae saepe vel, vero! Dignissimos nihil quos sint sunt suscipit. Aperiam asperiores at deleniti earum exercitationem facere, in inventore iusto laboriosam molestiae non optio quidem sed sequi tempore totam voluptate. Ad architecto blanditiis culpa cum, eveniet explicabo harum nulla quis quo repudiandae! Assumenda aut, autem corporis excepturi ipsa ipsam iste itaque necessitatibus quas, rerum sed tenetur voluptatibus voluptatum. Ab aliquid cum dignissimos dolorem error expedita illo nulla numquam officia omnis, placeat porro, quo, rem saepe soluta suscipit totam voluptatum. At dolore minus optio quia reiciendis? Accusantium architecto dignissimos, doloribus eius, hic illum impedit iure magnam maiores nesciunt officiis praesentium provident, quae quam quasi quod sunt voluptatibus. Accusantium animi aspernatur, assumenda at aut autem commodi cum deleniti distinctio doloribus error et facere id illum ipsum labore laborum libero maiores maxime molestias, mollitia nemo neque non, nulla omnis possimus praesentium quasi quia quos ratione reiciendis rem sequi soluta sunt suscipit voluptate voluptatum. Ab accusantium alias aperiam debitis dolor fugiat illo, iure laboriosam nam nesciunt non officia omnis quidem veniam, vitae? Aliquid beatae, consequatur corporis cupiditate eaque, error excepturi expedita hic illo, ipsum laborum odio optio pariatur quidem ratione recusandae totam vitae!
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>